<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Site</title>

<!--style for this html file-->
  <%-include('./starterPage/style.ejs')%>

</head>

<body>
  <%-include('./starterPage/beginning.ejs')%>
</body>

</html>