<section class="startingPage">
    <div class="login">
      <span class="text">Already have an account?</span>
      <button class="loginButton">Login</button>
    </div>
    <div class="middleButtons">
      <form action="/signUp" method="get">
        <button class="signUp">Sign Up!</button>
      </form>
        <button class="guestButton">Play As Guest</button>
    </div>
</section>